source .env/bin/activate
unset PS1
export DB_NAME='db-main'
export DB_USER='user'
export DB_PASS='password'
export DB_PORT='3306'
export SECRET_KEY='a_Secret-key+4dade5c5fc785ad5bda38ab0fb0e6e2860057a0d'
